<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#456")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="description" content="Simple note, list or checklist for people")

    link(rel="shortcut icon"    href="./img/favicons/favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" href="./img/favicons/apple-touch-icon.png")
    link(rel="apple-touch-icon" href="./img/favicons/apple-touch-icon-57x57.png"   sizes="57x57")
    link(rel="apple-touch-icon" href="./img/favicons/apple-touch-icon-72x72.png"   sizes="72x72")
    link(rel="apple-touch-icon" href="./img/favicons/apple-touch-icon-76x76.png"   sizes="76x76")
    link(rel="apple-touch-icon" href="./img/favicons/apple-touch-icon-114x114.png" sizes="114x114")
    link(rel="apple-touch-icon" href="./img/favicons/apple-touch-icon-120x120.png" sizes="120x120")
    link(rel="apple-touch-icon" href="./img/favicons/apple-touch-icon-144x144.png" sizes="144x144")
    link(rel="apple-touch-icon" href="./img/favicons/apple-touch-icon-152x152.png" sizes="152x152")
    link(rel="apple-touch-icon" href="./img/favicons/apple-touch-icon-180x180.png" sizes="180x180")

    link(rel="stylesheet", href="./styles/index.css")
    block title
  body
    block markup

    script(src="./js/index.js")

