section.tiles
  a(href="landing.html").tiles__item._smaller
    picture.tiles__picture
      source(type="image/webp" srcset="img/pic01.webp")
      img.tiles__img(src="img/pic01.jpg", alt="")

    .tiles__cover
      .tiles__text
        h2._major._unfit.tiles__title Aliquam
        p.tiles__subtitle ipsum dolor sit amet

  a(href="landing.html").tiles__item._larger
    picture.tiles__picture
      source(type="image/webp" srcset="img/pic02.webp")
      img.tiles__img(src="img/pic02.jpg", alt="")

    .tiles__cover
      .tiles__text
        h2._major._unfit.tiles__title Tempus
        p.tiles__subtitle Feugiat amet tempus

  a(href="landing.html").tiles__item._larger
    picture.tiles__picture
      source(type="image/webp" srcset="img/pic03.webp")
      img.tiles__img(src="img/pic03.jpg", alt="")

    .tiles__cover
      .tiles__text
        h2._major._unfit.tiles__title Magna
        p.tiles__subtitle lorem etial nullam

  a(href="landing.html").tiles__item._smaller
    picture.tiles__picture
      source(type="image/webp" srcset="img/pic04.webp")
      img.tiles__img(src="img/pic04.jpg", alt="")

    .tiles__cover
      .tiles__text
        h2._major._unfit.tiles__title ipsum
        p.tiles__subtitle nisl sed aliquam

  a(href="landing.html").tiles__item._smaller
    picture.tiles__picture
      source(type="image/webp" srcset="img/pic05.webp")
      img.tiles__img(src="img/pic05.jpg", alt="")

    .tiles__cover
      .tiles__text
        h2._major._unfit.tiles__title consequat
        p.tiles__subtitle ipsum dolor sit amet

  a(href="landing.html").tiles__item._larger
    picture.tiles__picture
      source(type="image/webp" srcset="img/pic06.webp")
      img.tiles__img(src="img/pic06.jpg", alt="")

    .tiles__cover
      .tiles__text
        h2._major._unfit.tiles__title Etiam
        p.tiles__subtitle eugiat amet tempus