.grid
  display: grid
  grid-template-columns: repeat(12, 1fr)

.container
  grid-column: 2 / span 10
  padding: 8em 0 2em 0

  .text, .elements, .lists, .buttons
    @extend .grid

    grid-gap: 0 1em

  .fill
    grid-column: 1 / -1

  .half
    @extend .fill

    @media screen and (min-width: 740px)
      grid-column: span 6
  
  .third
    @extend .fill

    @media screen and (min-width: 980px)
      grid-column: span 4

  .fourth
    @extend .fill

    @media screen and (min-width: 980px)
      grid-column: span 3

