.nav-overlay
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1

  display: none
  grid-template-rows: auto 1fr

  background-color: rgba(map-get($palette, 'bg'),.9)
  text-transform: uppercase

  &.show
    display: grid
    animation: show-menu .6s forwards

  &.hide
    display: grid
    animation: hide-menu .6s forwards

  &-icon
    text-align: right

    i
      padding: .5em 1em
      @extend .hover

  nav
    align-self: center
    justify-self: center
    width: 18em

    ul
      letter-spacing: map-get($font, 'letter-spacing-alt')
      text-align: center

      a:not(.button)
        display: block
        font-weight: map-get($font, 'weight-bold')
        font-size: 0.8em
        height: 3em
        line-height: 3em

@keyframes show-menu
  from
    opacity: 0
    z-index: -1
  to
    opacity: 1
    z-index: 10
@keyframes hide-menu
  from
    opacity: 1
    z-index: 10
  to
    opacity: 0
    z-index: -1