.lang {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 3.25rem;
  text-transform: uppercase;
  top: 58%;

  @include bp($xsm) {
    top: 50%;
    transform: translateY(-50%);
  }

  @include bp($lg) {
    right: 5.25rem;
  }

  @include bp($xxl) {
    margin-right: 0;
  }

  &__item {
    line-height: 1.4;

    &:first-child {
      display: flex;
      align-items: center;

      &::after {
        content: '';
        margin: 0 0 1px 0.5rem;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: .3rem .3rem 0 .3rem;
        border-color: currentColor transparent transparent transparent;
      }
    }
  }
}