.lang {
  $this: &;
  list-style-type: none;
  position: absolute;
  right: 1rem;
  text-transform: uppercase;
  top: 58%;

  @include bp($xsm) {
    top: 50%;
    transform: translateY(-50%);
  }

  @include bp($lg) {
    right: 5.25rem;
  }

  @include bp($xxl) {
    margin-right: 0;
  }

  &__item {
    cursor: default;
    line-height: 1.4;

    &:hover {
      color: $accent;
    }

    &._active {
      display: flex;
      align-items: center;

      &:hover {
        + #{$this}__wrapper {
          display: block;
        }
      }

      &::after {
        content: '';
        margin: 0 0 1px 0.5rem;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: .3rem .3rem 0 .3rem;
        border-color: currentColor transparent transparent transparent;
      }
    }
  }

  &__wrapper {
    display: none;
    left: 0;
    position: absolute;
    width: 100%;

    &:hover {
      display: block;
    }
  }
}