form.form
  input#note.form__radio.hidden( type="radio", name="note" value="note" )
  label.form__label( for="note") note

  input#list.form__radio.hidden( type="radio", name="note" value="list" checked )
  label.form__label( for="list" ) list

  input#checklist.form__radio.hidden( type="radio", name="note" value="checklist" )
  label.form__label( for="checklist" ) checklist
  .form__slide
    .form__slide-thumb

  .form__fields
    ul.note
    ul.list
    ul.checklist

  .form__controls
    button.form__submit save