form.form
  input#type-note.hidden(type="radio", name="type-note")
  label.form__type(for="type-note") note
  input#type-list.hidden(type="radio", name="type-note")
  label.form__type._active(for="type-list") list
  input#type-checklist.hidden(type="radio", name="type-note")
  label.form__type(for="type-checklist") checklist

  .form__fields
    include ../note/note
    include ../list/list

  .form__controls
    button.form__submit save