.overlay {
  background-image: linear-gradient(to right, rgba($main, .1) 1px, transparent 1px, transparent);
  background-origin: content-box;
  background-repeat: repeat;
  background-size: 476px 1px;
  bottom: 0;
  box-sizing: border-box;
  left: calc(50% + 1.3rem);
  max-width: $inner;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;

  // @include bp($xxl) {
  //   background-size: 476px 1px;
  // }

  &._alt {
    // background-color: $main;
    background-image: linear-gradient(to right, rgba($bg, .1) 1px, transparent 1px, transparent);

    // overflow .screen
    z-index: 30;
  }
}