.overlay {
  display: flex;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: z-index .2s .1s;
  pointer-events: none;

  $this: &;
  &._alt {
    #{$this}__inner {
      background-image: linear-gradient(to right, rgba($bg, .1) 1px, transparent 1px, transparent);
    }

    // overflow .screen
    z-index: 30;
  }

  &__inner {
    flex: 1;
    background-image: linear-gradient(to right, rgba($main, .1) 1px, transparent 1px, transparent);
    background-origin: content-box;
    background-repeat: repeat;
    background-size: 33.33% 1px;
  }
}