 @mixin list() {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
 }
 
.list {
  @include list();

  &__item {
    box-sizing: border-box;
    caret-color: $main;
    display: flex;
    hyphens: auto;
    padding: 0 1rem;
    user-select: text;
    word-break: break-all;
    word-wrap: break-word;
    
    // fix firefox
    min-height: 2rem;

    &._focused {
      outline: 2px solid $main;
    }

    &:nth-child(odd) {
      background-color: rgba($main, .175);
    }

    &:nth-child(even) {
      background-color: rgba($main, .1);
    }

    &::before {
      margin: .15rem .5rem 0 0;
      white-space: pre;

      @include bp($lg) {
        margin-top: 0.25rem;
      }
    }

    // levels
    $i: 1;
    @while $i < 10 {
      &._level-#{$i} {
        counter-increment: level-#{$i};
        padding-left: 1rem * $i - .5rem;

        &::before {
          content: counter(level-#{$i})'.';
        }

        &._reset {
          counter-reset: level-#{$i};
        }
      }
      $i: $i + 1;
    }
  }
}

.checklist {
  @include list();

  &__item {
    box-sizing: border-box;
    caret-color: $main;
    hyphens: auto;
    padding: 0 1rem;
    display: flex;
    align-items: flex-start;
    min-height: 2rem;

    &._focused {
      outline: 2px solid $main;
    }

    &:nth-child(odd) {
      background-color: rgba($main, .175);
    }

    &:nth-child(even) {
      background-color: rgba($main, .1);
    }

    // levels
    $i: 1;
    @while $i < 10 {
      &._level-#{$i} {
        padding-left: 1rem * $i - .5rem;
      }
      $i: $i + 1;
    }
  }

  &__checkbox {
    &:checked + label{
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmZmZmIj48cGF0aCBkPSJNMTkgM0g1Yy0xLjEgMC0yIC45LTIgMnYxNGMwIDEuMS45IDIgMiAyaDE0YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMTZINVY1aDE0djE0eiIvPgogIDxwYXRoIGQ9Ik0xOCA5bC0xLjQtMS40LTYuNiA2LjYtMi42LTIuNkw2IDEzbDQgNHoiLz4KPC9zdmc+Cg==);
    }
  }

  &__label {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmZmZmIj4KICA8cGF0aCBkPSJNMTkgNXYxNEg1VjVoMTRtMC0ySDVjLTEuMSAwLTIgLjktMiAydjE0YzAgMS4xLjkgMiAyIDJoMTRjMS4xIDAgMi0uOSAyLTJWNWMwLTEuMS0uOS0yLTItMnoiLz4KPC9zdmc+Cg==);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    margin: .15rem .5rem 0 0;

    @include bp($lg) {
      margin-top: 0.25rem;
    }
  }
}

.note {
  // can't extend from .list. produce bag
  @include list();

  &__item {
    background-color: rgba($main, .175);
    box-sizing: border-box;
    caret-color: $main;
    display: flex;
    hyphens: auto;
    padding: 0 1rem;
    
    // fix firefox
    min-height: 2rem;

    &._focused {
      outline: 2px solid $main;
    }
  }
}

.inputField {
  display: block;
  flex: 1;
  padding: .25rem 0;
  word-break: break-all;
  word-wrap: break-word;
  outline: none;
}