form.form
  h2.title._accent.form__title Keep in touch with us
  h3.subtitle.form__subtitle.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Praesent vitae eros eget tellus tristique bibendum. 
    Donec rutrum sed sem quis venenatis.

  .wrapper.form__wrapper
    input.form__input(
      type="email"
      placeholder="Enter your email to update"
      required
    )
    button.form__submit(type="submit") submit