body {
  background-color: $bg;
  color: $main;
  font-family: $ff;
  font-size: 14px;
  font-weight: $fw-b;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 120px auto;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  // for screens
  position: relative;

  &__header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  &__slider {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  &__main {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  &__aside {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.inner {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $inner;
  padding: 0 1rem;
  width: 100%;
}

.main {
  display: flex;
  width: 100%;
}