@font-face {
  font-family: Circle;
  font-display: swap;
  src: url('../fonts/Circle-Regular.woff2') format('woff2'),
    url('../fonts/Circle-Regular.woff') format('woff');
  font-weight: normal;
}

// @font-face {
//   font-family: Circle;
//   font-display: swap;
//   src: url('../fonts/CRC25.woff2') format('woff2'),
//     url('../fonts/CRC25.woff') format('woff');
//   font-weight: 200;
// }

// @font-face {
//   font-family: Circle;
//   font-display: swap;
//   src: url('../fonts/CRC35.woff2') format('woff2'),
//     url('../fonts/CRC35.woff') format('woff');
//   font-weight: 300;
// }

// @font-face {
//   font-family: Circle;
//   font-display: swap;
//   src: url('../fonts/CRC55.woff2') format('woff2'),
//     url('../fonts/CRC55.woff') format('woff');
//   font-weight: 500;
// }

@font-face {
  font-family: Circle;
  font-display: swap;
  src: url('../fonts/CRC65.woff2') format('woff2'),
    url('../fonts/CRC65.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: Circle;
  font-display: swap;
  src: url('../fonts/CRC75.woff2') format('woff2'),
    url('../fonts/CRC75.woff') format('woff');
  font-weight: 700;
}