@font-face {
  font-family: Circle;
  font-display: swap;
  src: url('../fonts/Circle-Regular.woff2') format('woff2'),
    url('../fonts/Circle-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Circle;
  font-display: swap;
  src: url('../fonts/CRC25.woff2') format('woff2'),
    url('../fonts/CRC25.woff') format('woff');
  font-weight: 250;
}

@font-face {
  font-family: Circle;
  font-display: swap;
  src: url('../fonts/CRC35.woff2') format('woff2'),
    url('../fonts/CRC35.woff') format('woff');
  font-weight: 350;
}

@font-face {
  font-family: Circle;
  font-display: swap;
  src: url('../fonts/CRC55.woff2') format('woff2'),
    url('../fonts/CRC55.woff') format('woff');
  font-weight: 550;
}

@font-face {
  font-family: Circle;
  font-display: swap;
  src: url('../fonts/CRC65.woff2') format('woff2'),
    url('../fonts/CRC65.woff') format('woff');
  font-weight: 650;
}

@font-face {
  font-family: Circle;
  font-display: swap;
  src: url('../fonts/CRC75.woff2') format('woff2'),
    url('../fonts/CRC75.woff') format('woff');
  font-weight: 750;
}