// breakpoints
$xs: 320px;
$sm: 480px;
$xsm: 640px;
$md: 736px;
$lg: 960px;
$xl: 1200px;
$xxl: 1600px;

// font-family
$ff: Circle, sans-serif;

// font-weight- -ultra-light, -light, -regular, -semi-bold, -bold, -ulra-bold
$fw-ul: 200;
$fw-l: 300;
$fw-r: 400;
$fw-sb: 500;
$fw-b: 600;
$fw-ub: 700;

// pallete
$accent: #ff2323;
$bg: #181818;
$main: #fff;
$text-alt: #868686;
$text: #070707;

// transitions
$dur: .2s;
$SLIDE_DURATION: 5s;

// other
$inner: 1440px;