section.features
  .inner.features__inner
    h2.title Tinyone features
    h3.subtitle.features__subtitle.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Praesent vitae eros eget tellus tristique bibendum. 
      Donec rutrum sed sem quis venenatis.

    .features__grid
      .features__item
        .col
          .features__item-icon._tablet
        
        .features__item-about
          h2.features__item-subtitle Fully responsive
          p.features__item-description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae eros eget tellus tristique bibendum.
      
      .features__item
        .col
          .features__item-icon._layers
          
        .features__item-about
          h2.features__item-subtitle Fully layered PSD
          p.features__item-description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae eros eget tellus tristique bibendum.
      
      .features__item
        .col
          .features__item-icon._folder
        .features__item-about
          h2.features__item-subtitle Font Awesome icons
          p.features__item-description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae eros eget tellus tristique bibendum.
      
      .features__item
        .col
          .features__item-icon._code
        .features__item-about
          h2.features__item-subtitle HTML3 &amp; CSS3
          p.features__item-description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae eros eget tellus tristique bibendum.
      
      .features__item
        .col
          .features__item-icon._envelope
        .features__item-about
          h2.features__item-subtitle Email template
          p.features__item-description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae eros eget tellus tristique bibendum.
      
      .features__item
        .col
          .features__item-icon._bookmark
        .features__item-about
          h2.features__item-subtitle Free to download
          p.features__item-description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae eros eget tellus tristique bibendum.