section.features
  .inner.features__inner
    h2.title Tinyone features
    h3.subtitle.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Praesent vitae eros eget tellus tristique bibendum. 
      Donec rutrum sed sem quis venenatis.

    .features__grid
      .features__item
        .col
          .features__icon._tablet
        
        .features__about
          h2.features__subtitle Fully responsive
          p.features__description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae eros eget tellus tristique bibendum.
      
      .features__item
        .col
          .features__icon._layers
          
        .features__about
          h2.features__subtitle Fully layered PSD
          p.features__description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae eros eget tellus tristique bibendum.
      
      .features__item
        .col
          .features__icon._folder
        .features__about
          h2.features__subtitle Font Awesome icons
          p.features__description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae eros eget tellus tristique bibendum.
      
      .features__item
        .col
          .features__icon._code
        .features__about
          h2.features__subtitle HTML3 &amp; CSS3
          p.features__description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae eros eget tellus tristique bibendum.
      
      .features__item
        .col
          .features__icon._envelope
        .features__about
          h2.features__subtitle Email template
          p.features__description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae eros eget tellus tristique bibendum.
      
      .features__item
        .col
          .features__icon._bookmark
        .features__about
          h2.features__subtitle Free to download
          p.features__description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae eros eget tellus tristique bibendum.