header.header._index._hiddenBackground
  .inner.header__inner._hidden
    h1._major.header__title Hi, my name is Forty
    
    .header__row
      .header__col
        p.header__text.
          A responsive site template designed 
          by html5 up and
          released under the craetive commons.
      .header__col
        button.btn._next#scroll get started