header.header-bar.fixed
  a.logo(href="index.html")
    strong forty
    span  by html5 up
  nav
    a#button-menu menu
      svg#button-menu-close
        use(xlink:href="img/sprites/sprite.svg#hamburger")
