<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="styles/index.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.3.1/viewer.min.css")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')

    title Multiverse
  body
    .gallery
      .hidden.item.item_2x2
        img.item__img(src="", alt="")
        h3.item__caption
        
      .hidden.item.item_2x1
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item.item_3x1
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item.item_2x1
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item.item_2x3
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item.item_2x1
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item.item_1x2
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item.item_3x1
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item.item_3x3
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item.item_1x3
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item.item_3x1
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item.item_2x1
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item.item_2x1
        img.item__img(src="", alt="")
        h3.item__caption

      .hidden.item
        img.item__img(src="", alt="")
        h3.item__caption

    footer
      p
        | Photos from 
        a(href="https://unsplash.com/") unsplash.com

      .dropdown
        a.dropdown__button Keyboard shortcuts

        ul.dropdown__list
          li.dropdown__item
            span Esc
            |Exit full screen or close the viewer or exit modal mode or stop play

          li.dropdown__item
            span Space
            |Stop play

          li.dropdown__item
            span &larr;
            |View the previous image

          li.dropdown__item
            span &rarr;
            |View the next image

          li.dropdown__item
            span &uarr;
            |Zoom in the image

          li.dropdown__item
            span &darr;
            |Zoom out the image

          li.dropdown__item
            span Ctrl + 0
            |Zoom out to initial size

          li.dropdown__item
            span Ctrl + 1
            |Zoom in to natural size

    script(src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.3.1/viewer.min.js")
    script(src="js/index.js")