extend ./blocks/_base/template

block title
  title= "Key Development"

block markup
  .container
    include ./blocks/header/header
    include ./blocks/slider/slider

    main.main.container__main
      include ./blocks/hero/hero
      include ./blocks/screen/screen

    include ./blocks/aside/aside
    .overlay
      .inner.overlay__inner