extend ./blocks/_base/template

block title
  title= "New Project"

block markup
  .container
    include ./blocks/header/header

    .wrapper
      main.main
        include ./blocks/hero/hero
        include ./blocks/screen/screen
        include ./blocks/aside/aside

    .overlay
      .inner.overlay__inner