nav.nav
  a.nav__link(href="#") О компании
  a.nav__link._margin(href="#") Контакты
  button.nav__btn(aria-label="меню")
    span.nav__btn-wrap
      span.nav__btn-bar
      span.nav__btn-bar
    span.nav__btn-text меню