<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Барбершоп &laquo;Бородинский&raquo;
  body
    include blocks/lists/+linksList

    header.header
      nav.inner
        +linksList(
          'nav',
          ['info.html', 'news.html', 'price.html', 'market.thml', 'contacts.html'],
          ['Информация', 'Новости', 'Пайс-лист', 'Магазин', 'Контакты']
        )
        +linksList(
          'nav',
          ['javascript:void(0)'],
          ['Вход'],
          ['_login']
        )._special

    .inner
      main.about
        .about__wrapper
          img.logo(src="img/logo.png", alt="logo")
        
        .about__item
          h2.about__title Быстро
          p.about__describe.
            Мы делаем свою работу быстро! Два часа пролетят незаметно и вы -
            счастливый обладатель стильной стрижки-минутки!

        .about__item
          h2.about__title Круто
          p.about__describe.
            Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола 
            или кино! Во всяком случае внешне.

        .about__item
          h2.about__title Дорого
          p.about__describe.
            Наши мастера - професионалы своего дела и не могут стоить дешево. 
            К тому же, разве цена не дает определенный статус?

    .inner._themed
      section.news
        h2 Новости
        ul.news__list
          li.news__item
            .
              Нам наконец завезли ягермайстер! Теперь вы можете пропустить 
              стаканчик во время стрижки
            time 18 января
          li.news__item
            .
              В нашей команде пополнение, Борис &laquo;бритва&raquo; Сригунец, 
              обладатель множества титулов и наград пополнил наши стройные ряды
            time 11 января

        button.btn Все новости

      //- section.gallery>h2{Фотогалерея}+




