header.header
  .header__row
    img.logo(src="img/logo.png", alt="logo")
    include ../feedback/feedback

  h1.header__title
    |Незабываемый отдых на Мальдивах
    br
    b от 1293 $
    |&nbsp;за 10 ночей

  include ../form/form