article.subscribe
  .inner.subscribe__inner

    .subscribe__text
      h2.subscribe__title Не нашли подходящий вариант?
      p.subscribe__subtitle
        |Оставьте заявку и получите подборку&nbsp;
        span.subscribe__subtitle._accent горящих туров!

    form.subscribe__form(action="javascript:void(0)")
      h3.subscribe__form-title Узнать об акциях

      p.subscribe__form-block
        label.subscribe__form-label Введите имя*
        input.subscribe__form-input(type="text", name="clientName")
      p.subscribe__form-block
        label.subscribe__form-label Введите телефон*
        input.subscribe__form-input(type="tel", name="clientTel")

      button.btn.subscribe__form-btn(type="submit") Отправить заявку

      p.subscribe__form-ps Мы против спама
