section.hero
  include ../slider/slider

  .inner.hero__inner
    .hero__text
      h2.hero__title Строительная компания
      .hero__lead
        |Key Develoment -
        br
        |мы смотрим в
        br
        |будущее

    .hero__aside
      include ../screen-counter/screen-counter
      include ../slider/slider-nav