section.hero
  include ../slider/slider

  .inner.hero__inner
    h2.hero__title Строительная компания
    .hero__lead
      |Key Development -
      br
      |мы смотрим в
      br
      |будущее

    .hero__aside
      include ../screen/screen-counter
      include ../slider/slider-nav