.footer {
  padding: 5.5rem 0 7rem;
  background-color: $main;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
    max-width: 860px;
  }

  &__list {
    color: $text-alt;
    max-width: 200px;
  }

  &__list-item {
    margin-bottom: .25rem;
  }

  &__list-link {
    color: inherit;
    text-decoration: none;
    transition: $dur;

    &:hover {
      color: $alt;
    }
  }
}