.footer {
  padding: 5.5rem 0 3rem;
  background-color: $main;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    max-width: 860px;

    @include bp($md) {
      padding: 5.5rem 0 7rem;
    }
  }

  // .footer
  &__list {
    color: $text-alt;
    width: 50%;
    margin-bottom: 1rem;

    @include bp($md) {
      width: initial;
      max-width: 200px;
    }

    &:first-child {
      width: 100%;
    }
  }

  // .footer
  &__list-item {
    margin-bottom: .25rem;
  }

  // .footer
  &__list-link {
    color: inherit;
    text-decoration: none;
    transition: $dur;

    &:hover {
      color: $alt;
    }
  }
}