footer.footer
  .inner
    include ../form/form
    include ../lists/socials

    .wrapper.footer__wrapper
      ul.footer__list
        li.footer__list-item
          span.uppercase halovietnam ltd
          br
          |66, Dang Van ngu, Dong Da Hanoi, Vietnam
        li.footer__list-item contact@halovietnam.com
        li.footer__list-item +844 35149182

      ul.footer__list
        li.footer__list-item
          a.footer__list-link(href="#") Examples
        li.footer__list-item
          a.footer__list-link(href="#") Shop
        li.footer__list-item
          a.footer__list-link(href="#") License

      ul.footer__list
        li.footer__list-item
          a.footer__list-link(href="#") Contact
        li.footer__list-item
          a.footer__list-link(href="#") About
        li.footer__list-item
          a.footer__list-link(href="#") Privacy
        li.footer__list-item
          a.footer__list-link(href="#") Terms
      ul.footer__list
        li.footer__list-item
          a.footer__list-link(href="#") Download
        li.footer__list-item
          a.footer__list-link(href="#") Support
        li.footer__list-item
          a.footer__list-link(href="#") Documents
      ul.footer__list
        li.footer__list-item
          a.footer__list-link(href="#") Media
        li.footer__list-item
          a.footer__list-link(href="#") Blog
        li.footer__list-item
          a.footer__list-link(href="#") Forums