footer.footer

  include ../lists/+links-list
  .inner
    include ../form/form

    +links-list(
      'socials',
      ['#', '#', '#', '#'],
      [],
      ['_facebook', '_twitter', '_telegram', '_pinterest']
    )

    .wrapper.footer__wrapper
      ul.footer-list
        li.footer-list__item
          span.uppercase halovietnam ltd
          br
          |66, Dang Van ngu, Dong Da Hanoi, Vietnam
        li.footer-list__item contact@halovietnam.com
        li.footer-list__item +844 35149182

      +links-list(
        'footer-list',
        ['#', '#', '#', '#'],
        ['Examples', 'Shop', 'License']
      )

      +links-list(
        'footer-list',
        ['#', '#', '#', '#'],
        ['Contact', 'About', 'Privacy', 'Terms']
      )

      +links-list(
        'footer-list',
        ['#', '#', '#', '#'],
        ['Download', 'Support', 'Documents']
      )

      +links-list(
        'footer-list',
        ['#', '#', '#', '#'],
        ['Media', 'Blog', 'Forums']
      )