extend ./blocks/_base/template

block title
  title= "New Project"
  
block markup
  .container
    include ./blocks/form/form

  //- form#form
    input#note(name="note" type="text")
    button#submit save

  .output