extend ./blocks/_base/template

block title
  title= "ToDo vanilla"
  
block markup
  .container
    include ./blocks/form/form
    include ./blocks/info/info
    include ./blocks/output/output

  template#output-block
    .output__block
      ul
      button.output__remove Delete
      button.output__save Save