extend ./blocks/_base/template

block title
  title= "New Project"
  
block markup
  .container
    include ./blocks/form/form

  //- form#form
    input#note(name="note" type="text")
    button#submit save

  .output
    .output__col
    .output__col
    .output__col

  template#output-block
    .output__block
      ul
      button.output__remove Delete
      button.output__save Save