extend ./blocks/_base/template

block title
  title= "New Project"
  
block markup
  .container
    form.form
      input#type-note.hidden(type="radio", name="type-note")
      label.form__type(for="type-note") note
      input#type-list.hidden(type="radio", name="type-note")
      label.form__type._active(for="type-list") list
      input#type-checklist.hidden(type="radio", name="type-note")
      label.form__type(for="type-checklist") checklist

      .form__fields
        textarea.form__note
        ol.list
          li(contenteditable="true").list__item._level-1

      .form__controls
        button.form__submit save

  //- form#form
    input#note(name="note" type="text")
    button#submit save

  .output
  
  template#t-note
    p