extend ./blocks/_base/template

block title
  title= "New Project"
  
block markup
  form#form
    textarea#note(name="note", cols="30", rows="10")
    button#submit save

  #notes
  
  template#t-note
    p