$radius:  4px;
$height: 2.75rem;
$margin: 2rem;


// font-family
$ff:     'Source Sans Pro', Helvetica, sans-serif;
$ff-fix: 'Courier New', monospace;

// font-weight
$wr: 300;
$wb: 600;

// letter-spacing
$ls:     0.025rem;
$ls-alt: 0.25rem;

// Palette
$bg:       #242943;
$bg-alt:   #2a2f4a;
$fg:       #ffffff;
$fg-light: rgba(244, 244, 255, .5);
$border:   rgba(212,212,255,0.1);
$border-bg:rgba(212,212,255,0.035);
$highlight:#9bf1ff;
$accent1:  #6fc3df;
$accent2:  #8d82c4;
$accent3:  #ec8d81;
$accent4:  #e7b788;
$accent5:  #8ea9e8;
$accent6:  #87c5a4;

$colors: (
  accent1:  #6fc3df,
  accent2:  #8d82c4,
  accent3:  #ec8d81,
  accent4:  #e7b788,
  accent5:  #8ea9e8,
  accent6:  #87c5a4
)