.logo {
  color: $main;
  font-size: 1.85rem;
  font-weight: $fw-b;
  line-height: 1.2;
  text-decoration: none;
  user-select: none;

  padding-left: 3.745rem;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 2.7rem;
    height: 2.7rem;

    // pixelperfect
    top: -3px;
    left: 6px;
    
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  // .logo
  &._accent {
    color: $accent;

    &::before {
      background-image: url('../img/logo_accent.png');
    }
  }
}