body {
  background-color: $alt;
  color: $main;
  font-family: monospace;
  font-size: 18px;
  line-height: 1.5;
  
  @include bp($xl) {
    font-size: 20px;
  }

  @include bp($xxl) {
    font-size: 24px;
  }
}

a {
  color: inherit;
}

.container {
  box-sizing: border-box;
  margin: 0;
  padding: 2em;
  transition: $dur;

  @include bp($md) {
    padding: 2em 4em;
  }

}

.contacts {
  &__link {
    border-bottom: 1px solid $main;
    transition: $dur;
    text-decoration: none;
    &:hover {
      border-color: $accent;
      color: $accent;
    }
  }
}

.list {
  margin: 0 0 2em;
  padding: 0;
  max-width: $xs;

  &__item {
    display: flex;
    background-image: linear-gradient(to left, $main, transparent 25%, $main 75%);
    background-size: .5em 1px;
    background-position: center bottom;
    background-repeat: repeat-x;

    // for ::before
    position: relative;

    &::before {
      content: '◆';
      position: absolute;
      transform: translate(-200%, 50%);
      font-size: .5em;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $main;
    transition: $dur;

    &:hover {
      border-color: $accent;
      color: $accent;
    }
    
    &:visited {
      color: darken($main, 30%);

      // Fix IE flashing
      &:hover {
        color: $accent;
      }
    }
    &:last-child {
      margin-left: auto;
    }
  }
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}