// breakpoints
$xs: 320px;
$sm: 480px;
$xsm: 640px;
$md: 736px;
$lg: 960px;
$xl: 1200px;
$xxl: 1600px;

// font
// $ff: ;
$fw-l: 300;
$fw-r: 400;
$fw-b: 700;

// pallete
$main: #fff;
$alt: #345;
$accent: lighten(rgba(green, .7), 35%);

// transitions
$dur: .2s;