@import 'config';

body {
  margin: 0;
  color: $c-main;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;

  &::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/background.jpg);
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
    margin-bottom: 1rem;

    @include bp($md) {
      font-size: 6rem;
    }
  }

  &.sm-heading {
    margin-bottom: 1.5rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($c-secondary, 2), 0.5);
  }
}

a {
  color: $c-main;
  text-decoration: none;
}

p {
  font-size: 1.5em;
}

.text-secondary {
  color: $c-accent1;
}

.slide {
  // to be over background
  position: relative;

  box-sizing: border-box;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 64px;

  padding: 0 2rem 2rem;
  min-height: 100vh;
  margin: auto;
  max-width: 1200px;

  @include bp($md) {
    padding: 2rem 4rem 2rem;
  }

  .icons {

    &__link {
      padding: 0.4rem;
      transition: .25s;

      &:hover {
        color: $c-accent1;
      }
    }
  }
}

.scroll {
  display: block;
  align-self: end;
  animation: bounce 2s ease-in-out infinite;
  border-radius: 50%;
  background-image: url("data:image/svg+xml;charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='-275 398.7 44.2 44.2'><path fill='rgb(255,255,255)' d='M-275 420.8c0-12.2 9.9-22.1 22.1-22.1s22.1 9.9 22.1 22.1c0 12.2-9.9 22.1-22.1 22.1s-22.1-9.9-22.1-22.1zm42.7 0c0-11.4-9.2-20.6-20.6-20.6-11.4 0-20.6 9.2-20.6 20.6 0 11.4 9.2 20.6 20.6 20.6 11.4 0 20.6-9.3 20.6-20.6zM-260.6 418c0-.2.1-.4.2-.5.3-.3.8-.3 1.1 0l6.8 6.8 6.8-6.8c.3-.3.8-.3 1.1 0 .3.3.3.8 0 1.1l-7.3 7.3c-.3.3-.8.3-1.1 0l-7.3-7.3c-.3-.2-.3-.4-.3-.6z'></path></svg>");
  background-repeat: no-repeat;
  cursor: pointer;
  justify-self: center;
  transition: .25s;
  width: 48px;
  height: 48px;
  transform: rotate(60deg);

  &:hover {
    box-shadow: inset 0 0 1em $c-accent1;
  }
  &:active {
    box-shadow: inset 0 0 2em $c-accent1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

// skills

.skills {
  display: grid;
  grid-gap: .1em;
  
  font-size: 4em;

  @include bp($sm) {
    grid-template-columns: 1fr 1fr
  }

  @include bp($md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include bp($xl) {
    grid-template-columns: repeat(6, 1fr);
  }

  i {
    padding: 15%;
    text-shadow: 1px 1px 5px $c-secondary;
    text-align: center;
    border: 1px solid $c-accent1;
    transition: .25s;

    &:hover {
      box-shadow: inset 0 0 .5em $c-accent1;
    }
  }
}

// Work/Projects
.projects {
  display: grid;
  gap: 0.7rem;

  @include bp($sm) {
    grid-template-columns: 1fr 1fr
  }

  @include bp($lg) {
    grid-template-columns: repeat(4, 1fr)
  }

  &__img {
    box-sizing: border-box;
    width: 100%;
    border: 3px $c-main solid;
    transition: .25s;

    &:hover {
      border-color: $c-accent1;
    }
  }
    
  .item {
    opacity: .8;
    transition: .25s;
    
    &:hover {
      opacity: 1;
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  
  background: darken($c-secondary, 50);
  color: $c-main;
  transition: .25s;

  &:hover {
    background: $c-accent1;
    color: $c-secondary;
  }

  &_light {
    background: lighten($c-secondary, 50);
    color: $c-secondary;
  }
}
