section.workers
  h2.workers__title Будем рады видеть вас у нас в офисе

  .inner.workers__inner
    figure.workers__item
      img.workers__img(src="img/worker-1.jpeg", alt="worker")
      figcaption.workers__name Ирина

    figure.workers__item
      img.workers__img(src="img/worker-2.jpeg", alt="worker")
      figcaption.workers__name Вугар

    figure.workers__item
      img.workers__img(src="img/worker-3.jpeg", alt="worker")
      figcaption.workers__name Вика

    figure.workers__item
      img.workers__img(src="img/worker-4.jpeg", alt="worker")
      figcaption.workers__name Яна

    figure.workers__item
      img.workers__img(src="img/worker-5.jpeg", alt="worker")
      figcaption.workers__name Лиля

    figure.workers__item
      img.workers__img(src="img/worker-6.jpeg", alt="worker")
      figcaption.workers__name Полина

  button.btn.workers__btn Записаться на встречу в офисе
