form.form.header__form(action="javascript:void(0)")
  p.form__title
    |Заполните форму и получите
    br
    |индивидуальную подборку туров
  p.form__wrap
    input.form__input(type="tel", name="tel" placeholder="Введите телефон")
    //- error message
    button.btn.form__btn(type="submit") Получить туры!