.nav {
  box-sizing: border-box;
  margin-left: auto;
  padding: 2rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  background-color: $alt;
  transition: transform $dur, box-shadow $dur;
  transform: translateY(-100%);

  @include bp($md) {
    padding: 0;
    position: static;
    width: initial;
    transform: none;
    background-color: transparent;
    box-shadow: none;
  }

  // .nav
  &__item {

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    @include bp($md) {
      display: inline-block;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 4.4rem;
      }
    }
  }

  // .nav
  &__link {
    border-bottom: 1px solid transparent;
    color: $main;
    font-size: 1.375em;
    font-weight: $fw-b;
    text-decoration: none;
    transition: $dur;

    &:hover {
      color: $main;
      border-bottom: 1px solid $main;
    }

    @include bp($md) {
      &:hover {
        color: $alt;
        border-bottom: 1px solid $alt;
      }
    }
  }

  // .nav
  &__btn {
    display: block;
    cursor: pointer;
    margin-left: auto;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;
    width: 3rem;

    // to be over .nav__list
    z-index: 1;

    @include bp($md) {
      display: none;
    }

    &._active {
      transform: rotate(45deg);

      + .nav {
        transform: translateY(0);
        box-shadow: 0 .5rem 1rem -.5rem;

        @include bp($md) {
          box-shadow: none;
        }
      }
    }
  }

  // .nav
  &__btn-bar {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;

    &._top {
      stroke-dasharray: 40 121;
    }

    &._bottom {
      stroke-dasharray: 40 121;
    }

    ._active &  {
      &._top, &._bottom {
        stroke-dashoffset: -68px;
      }
    }
  }
}