.nav {
  align-items: flex-end;
  display: flex;

  &__list {
    margin-left: auto;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  &__link {
    border-bottom: 1px solid transparent;
    color: $main;
    font-size: 1.5em;
    font-weight: $fw-b;
    text-decoration: none;
    transition: $dur;

    &:hover {
      color: $alt;
      border-bottom: 1px solid $alt;
    }
  }
}