.contact
  overflow: hidden
  border-bottom: solid 1px map-get($palette, 'border')
  border-top: solid 1px map-get($palette, 'border')

  &__inner
    padding: 0

  &__row
    +row-flex()

  &__col
    +col()
    +size(12)
    +size-lg(7)
    +lg(margin, 0)

  &__form
    padding: 4em 0 1em
    +lg-block()
      margin-bottom: 0
      padding: 4em 2em 2em 1em
      border-right: solid 1px map-get($palette, 'border')

  &__block
    +col()
    +size(12)
    +size-lg(5)
    +lg(margin, 0)
    display: flex
    flex-direction: column
    
  &__item
    flex: 1
    box-sizing: border-box
    padding: map-get($size, "element-margin") 0
    padding-left: map-get($size, "element-margin") * 1.5
    position: relative
    width: 100%

    +lg-block()
      padding-left: map-get($size, "element-margin") * 2.5

      &:first-child::before
        border-top: 0

      &::before
        top: 0
        left: 0
        transform: translateX(0)
        width: 50vw

    &::before
      border-top: 1px solid map-get($palette, 'border')
      content: ''
      // margin-left: -6em
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      transform-origin: center
      width: 200vw

  &__icon
    position: absolute
    left: 0
    top: 2em
    padding: .5em
    width: 1em
    height: 1em
    
    background-color: map-get($palette, 'fg')
    border-radius: 50%
    color: map-get($palette, 'bg')

    +lg-block()
      left: 1.5em

  //   @media screen and (min-width: 481px)
  //     padding: map-get($size, "element-margin") * 1.5
  //     padding-right: 0

  //     .icon
  //       top: 3em

  //   @media screen and (min-width: 981px)
  //     padding-left: map-get($size, "element-margin") * 2.8

  //     &::before
  //       margin-left: -5.6em

  //     &:first-child::before
  //       border-top: 0

  //     .icon
  //       left: 2.5em

  &__link
    color: inherit
    border-bottom: 1px dotted
    text-decoration: none
    @extend .hover

    &:hover
      border-color: transparent