.slider.hero__slider
  .slider__item
    picture.slider__pic
      source(media="(min-width: 960px)", srcset="./img/slider/kiev-maidan-nezalezhnosti.webp", type="image/wepb")
      source(media="(min-width: 960px)", srcset="./img/slider/kiev-maidan-nezalezhnosti.jpg", type="image/jpg")
      source(srcset="./img/slider/kiev-maidan-nezalezhnosti@0,5x.webp", type="image/wepb")
      img.slider__img(src="./img/slider/kiev-maidan-nezalezhnosti@0,5x.jpg", alt="Киев, Майдан Незалежности")
