.about
  .about__text
    h2.title Inspire your inspiration
    h3.subtitle.
      Simple to use your app, products showcase and your inspiration

    p.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Praesent vitae eros eget tellus tristique bibendum. 
      Donec rutrum sed sem quis venenatis. Proin viverra risus a eros 
      volutpat tempor. In quis arcu et eros porta lobortis sit

    include ../lists/app

  
  .about__preview
    include ../device/device