header.screen-header
  .inner.screen-header__inner
    h2.screen-header__title Проекты
    span.screen-header__text 204 успешно выполненных проекта
    span.screen-header__text 320 спроектированных объектов

    include ../buttons/btn-scroll