section.screen
  include ./screen-header

  .screen__container
    .inner.screen__inner
      header.screen__info
        h2.screen__title Проекты
        span.screen__info-counter (7)
        blockquote.screen__quote Вдохновляющие<br>дома для комфортной жизни

      .screen__content
        .screen__content-wrapper
          picture.screen__content-preview
            source(srcset="./img/project.webp", type="image/webp")
            img.screen__content-img(src="./img/project.jpg", alt="project")

          .screen__content-about
            span.screen__content-date 2018

            h2.screen__content-title ЖК ❝Район❞
            p.screen__content-description.
              Имеет успешный опыт системного управления недвижимостью,
              создание концепций, проектирование, строительство и
              эксплуатация бизнес-центров

        span.screen__num 01

