<!DOCTYPE html>
html(lang="en")
  head
    include blocks/_head
    title Elements
  body
    //- mixin
    include blocks/+divider/divider
    include blocks/+lists/lists

    include blocks/nav/navbar
    include blocks/header/header

    include blocks/nav/nav
    
    #wrapper
      .inner._main

        h1._major._unfit Elements
        
        include blocks/text/text

        +divider('_major')
        h2 elements

        include blocks/elements/elements
      //- include blocks/_contact.pug

      //- include blocks/_footer.pug
      
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/svgxuse/1.2.6/svgxuse.js" defer)
    script(src="js/index.js")

