<!DOCTYPE html>
html(lang="zxx")
  head
    include blocks/_head
    title Elements
  body
    //- mixin
    include blocks/+lists/lists

    #wrapper
      //- extra class for navbar
      -let navMods = '_fixed';

      include blocks/nav/navbar

      .inner._main
        h1._major._unfit Generic

        picture
          source(type="image/webp" srcset="img/pic11.webp")
          img(src="img/pic11.jpg", alt="")

        p.
          Donec eget ex magna. Interdum et malesuada fames ac ante ipsum 
          primis in faucibus. Pellentesque venenatis dolor imperdiet dolor 
          mattis sagittis. Praesent rutrum sem diam, vitae egestas enim 
          auctor sit amet. Pellentesque leo mauris, consectetur id ipsum 
          sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada 
          et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar 
          mauris. Curabitur sapien risus, commodo eget turpis at, elementum 
          convallis elit. Pellentesque enim turpis, hendrerit.

        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad 
          litora torquent per conubia nostra, per inceptos himenaeos. 
          Etiam tristique libero eu nibh porttitor fermentum. Nullam 
          venenatis erat id vehicula viverra. Nunc ultrices eros ut 
          ultricies condimentum. Mauris risus lacus, blandit sit amet 
          venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla 
          in aliquam at, euismod in lectus. Pellentesque habitant morbi 
          tristique senectus et netus et malesuada fames ac turpis egestas. 
          In non lorem sit amet elit placerat maximus. Pellentesque aliquam 
          maximus risus, vel sed vehicula.
          
        p.
          Interdum et malesuada fames ac ante ipsum primis in faucibus. 
          Pellentesque venenatis dolor imperdiet dolor mattis sagittis. 
          Praesent rutrum sem diam, vitae egestas enim auctor sit amet. 
          Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien 
          risus, commodo eget turpis at, elementum convallis elit. Pellentesque 
          enim turpis, hendrerit tristique lorem ipsum dolor.

      include blocks/contact/contact
      include blocks/footer/footer

    //- current page for add ._active
    -let current = 'generic'
    include blocks/nav/nav

    script(src="js/index.js")