<!DOCTYPE html>
html(lang="en")
  head
    include blocks/_head
    title Elements
  body

    //- mixin
    include blocks/+lists/lists

    #wrapper
      //- extra class for navbar
      -let navMods = '_opacity';

      include blocks/nav/navbar

      header.header._landing
        .inner.header__inner
          h1.major Landing
          p.header__text
            |Lorem ipsum dolor sit amet consectetur 
            br
            |adipisicing elit. Totam iste facilis numquam.

      section.alt-bg
        .inner
          h2.major.unfit Sed amet aliquam
          p.
            Nullam et orci eu lorem consequat tincidunt vivamus et sagittis 
            magna sed nunc rhoncus condimentum sem. In efficitur ligula 
            tate urna. Maecenas massa vel lacinia pellentesque lorem 
            ipsum dolor. Nullam et orci eu lorem consequat tincidunt. 
            Vivamus et sagittis libero. Nullam et orci eu lorem consequat 
            tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum 
            sem. In efficitur ligula tate urna.

      .tiles.spotlights
        .grid
          .banner
            a(href="generic.html")
            img(src="img/pic08.jpg", alt="")
          
          section.banner
            .inner
              h3.major.unfit Orci maecenas
              p.
                Nullam et orci eu lorem consequat tincidunt vivamus et sagittis 
                magna sed nunc rhoncus condimentum sem. In efficitur ligula tate 
                urna. Maecenas massa sed magna lacinia magna pellentesque lorem 
                ipsum dolor. Nullam et orci eu lorem consequat tincidunt. 
                Vivamus et sagittis tempus.

              ul.actions.line
                li
                  a.button(href="generic.html") learn more
        
        .grid.alt
          .banner
            a(href="generic.html")
            img(src="img/pic09.jpg", alt="")

          section.alt-bg.banner
            .inner
              h3.major.unfit Rhoncus magna
              p.
                Nullam et orci eu lorem consequat tincidunt vivamus et sagittis 
                magna sed nunc rhoncus condimentum sem. In efficitur ligula tate 
                urna. Maecenas massa sed magna lacinia magna pellentesque lorem 
                ipsum dolor. Nullam et orci eu lorem consequat tincidunt. 
                Vivamus et sagittis tempus.

              ul.actions.line
                li
                  a.button(href="generic.html") learn more

        .grid
          .banner
            a(href="generic.html")
            img(src="img/pic10.jpg", alt="")
          
          section.banner
            .inner
              h3.major.unfit Sed nunc ligula
              p.
                Nullam et orci eu lorem consequat tincidunt vivamus et sagittis 
                magna sed nunc rhoncus condimentum sem. In efficitur ligula tate 
                urna. Maecenas massa sed magna lacinia magna pellentesque lorem 
                ipsum dolor. Nullam et orci eu lorem consequat tincidunt. 
                Vivamus et sagittis tempus.

              ul.actions.line
                li
                  a.button(href="generic.html") learn more

      section.alt-bg
        .inner
          h2.major.unfit Massa libero
          p.
            Nullam et orci eu lorem consequat tincidunt vivamus et sagittis 
            libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. 
            Pellentesque condimentum sem. In efficitur ligula tate urna. 
            Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. 
            Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis 
            libero. Mauris aliquet magna magna sed nunc rhoncus amet 
            pharetra et feugiat tempus.

          ul.actions.line
            li
              a(href="generic.html").button.next get started

      include blocks/contact/contact
      include blocks/footer/footer

    //- current page for add ._active
    -let current = 'landing'
    include blocks/nav/nav

    script(src="js/index.js")