svg.nav__btn(viewBox='0 0 100 100', onclick="this.classList.toggle('_active')")
  path.nav__btn-bar._top(d='m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20')
  path.nav__btn-bar._middle(d='m 70,50 h -40')
  path.nav__btn-bar._bottom(d='m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20')
