<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap', rel='stylesheet')
    link(rel="stylesheet", href="styles/index.css")
    title Tinyone
  body

    //- mixins
    include blocks/logo/+logo
    include blocks/lists/+links-list

    header.header
      .inner.header__inner
        +logo
        include blocks/buttons/menu/menu
        include blocks/nav/nav
        

    .hero
      .inner.inner__hero
      
      
      block about
        //- include blocks/about/about


    include blocks/features/features
    include blocks/footer/footer
