<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap', rel='stylesheet')
    link(rel="stylesheet", href="styles/index-1.css")
    title Tinyone
  body
    header.hero
      .inner
        .wrapper.hero__wrapper
          a.logo(href="/templates/Tinyone/index-1.html")
            img.logo__img(src="img/logo.png", alt="logo")
            | tinyone
          nav.nav
            ul.nav__list
              li.nav__item
                a.nav__link(href="%23") Features
              li.nav__item
                a.nav__link(href="%23") Support
              li.nav__item
                a.nav__link(href="%23") Blog