<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap', rel='stylesheet')
    link(rel="stylesheet", href="styles/index-1.css")
    title Tinyone
  body
    header.hero
      .inner.hero__inner
        nav.nav
          a.logo(href="/templates/Tinyone/index-1.html") tinyone

          ul.nav__list
            li.nav__item
              a.nav__link(href="%23") Features
            li.nav__item
              a.nav__link(href="%23") Support
            li.nav__item
              a.nav__link(href="%23") Blog

        .about
          .about__text
            h1.title Inspire your inspiration
            h2.subtitle.
             Simple to use your app, products showcase and your inspiration

            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Praesent vitae eros eget tellus tristique bibendum. 
              Donec rutrum sed sem quis venenatis. Proin viverra risus a eros 
              volutpat tempor. In quis arcu et eros porta lobortis sit

            ul.app
              li.app__item
                a.app__link._apple(href="%23")
              li.app__item
                a.app__link._android(href="%23")
              li.app__item
                a.app__link._windows(href="%23")

          
          .about__preview
            .ipad
              .ipad__screen
                .logo._accent.ipad__logo tinyone

              .ipad__controls
                .ipad__controls-btn
                .ipad__controls-btn


          