body {
  margin: 0;
  background-color: #123;
  color: #fff;
  font-family: $ff;
  font-size: 16px;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

.title {
  font-size: 2em;
  margin: 0 0 1rem;
}

.subtitle {
  font-size: 1.4em;
  font-weight: $fw-r;
  margin: 0 0 1rem;
}