// breakpoints
$xs: 320px;
$sm: 460px;
$xsm: 640px;
$md: 736px;
$lg: 960px;
$xl: 1200px;
$xxl: 1600px;

// pallete
$accent: #fcdb00;
$main: #111;
$alt: #fff;

// font
$ff: 'PT Sans', sans-serif;
$fw-l: 300;
$fw-r: 400;
$fw-b: 700;

// transitions
$dur: .2s;