// breakpoints
$xs: 320px;
$sm: 460px;
$xsm: 640px;
$md: 736px;
$lg: 960px;
$xl: 1200px;
$xxl: 1600px;

// pallete
$accent: rgb(252,219,0);
$main: rgb(17,17,17);
$alt: rgb(255,255,255);
$text:rgb(85,85,85);
$text-alt:rgb(137,137,137);

// to preserve convertion into hex
$main-svg: #{'rgb(17,17,17)'};
$alt-svg: #{'rgb(255,255,255)'};

// font
$ff: 'PT Sans', sans-serif;
$fw-l: 300;
$fw-r: 400;
$fw-b: 700;

// transitions
$dur: .2s;