.btn-scroll {
  background-color: $accent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 3rem;
  padding: 0;
  position: relative;
  transition: background-color $dur, box-shadow $dur;
  width: 3rem;

  &:hover {
    background-color: $main;
    box-shadow: 0 0 1px 1px $accent;

    &::before {
      background-color: $accent;
    }

    &::after {
      border-color: $accent;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
  }

  &::before {
    background-color: $main;
    width: 2px;
    height: 40%;
    top: 50%;
    left: 50%;
    transition: background-color $dur;
    transform: translate(-50%, -50%);
  }

  &::after {
    width: .55rem;
    height: .55rem;
    border-width: 0 2px 2px 0;
    border-color: $main;
    border-style: solid;
    top: 50%;
    left: 50%;
    transition: border-color $dur;
    transform: translate(-50%, -18%) rotate(45deg);
  }
}