.aside {
  display: none;

  @include bp($xsm) {
    align-items: center;
    background-color: $bg;
    display: flex;
    padding: 0 1rem;
    z-index: 10;
  }

  @include bp($lg) {
    padding: 0 2rem;
  }

  &__socials {
    margin: 0 0 144px;

    // overlay .hero__inner
    z-index: 10;

    @include bp($xl) {
      margin: 0 0 128px;
    }
  }
}