.aside {
  align-items: center;
  background-color: $bg;
  // bottom: 0;
  display: flex;
  padding: 0 1rem;
  // position: absolute;
  // right: 0;
  // top: 120px;
  z-index: 0;

  @include bp($lg) {
    padding: 0 2rem;
  }

  &__socials {
    margin: 0 0 144px;

    // overlay .hero__inner
    z-index: 10;

    @include bp($xl) {
      margin: 0 0 128px;
    }
  }
}