ul.pagination
  li.pagination__item
    button.btn._small._disabled prev
  li.pagination__item
    a.pagination__link._active 1
  li.pagination__item
    a.pagination__link 2
  li.pagination__item
    a.pagination__link 3
  li.pagination__item
    span . . .
  li.pagination__item
    a.pagination__link 8
  li.pagination__item
    a.pagination__link 9
  li.pagination__item
    a.pagination__link 10
  li.pagination__item
    button.btn._small next