footer.footer.inner
  +list('ul', 'socials', '', [
      '<a href="#" class="socials__link _alt"><svg class="socials__icon _alt"><use xlink:href="img/sprites/sprite.svg#twitter"></use></svg></a>',
      '<a href="#" class="socials__link _alt"><svg class="socials__icon _alt"><use xlink:href="img/sprites/sprite.svg#facebook"></use></svg></a>',
      '<a href="#" class="socials__link _alt"><svg class="socials__icon _alt"><use xlink:href="img/sprites/sprite.svg#instagram"></use></svg></a>',
      '<a href="#" class="socials__link _alt"><svg class="socials__icon _alt"><use xlink:href="img/sprites/sprite.svg#github"></use></svg></a>',
      '<a href="#" class="socials__link _alt"><svg class="socials__icon _alt"><use xlink:href="img/sprites/sprite.svg#linkedin"></use></svg></a>',
  ])

  ul.footer__list
    li.footer__list-item © Untitled

    li.footer__list-item
      | Design: 
      a.footer__list-link(href="https://html5up.net") HTML5 UP

    li.footer__list-item
      | Demo Images: 
      a.footer__list-link(href="https://unsplash.com/") Unsplash
