mixin table(mod='')
  .table-wrapper
    table.table(class=mod)
      thead.table__head
        tr.table__tr
          td.table__td Name
          td.table__td Description
          td.table__td Price
      tbody.table__body
        tr.table__tr
          td.table__td Item 1
          td.table__td Ante turpis integer aliquet porttitor.
          td.table__td 29.99
        tr.table__tr
          td.table__td Item 2
          td.table__td Vis ac commodo adipiscing arcu aliquet.
          td.table__td 19.99
        tr.table__tr
          td.table__td Item 3
          td.table__td Morbi faucibus arcu accumsan lorem.
          td.table__td 29.99
        tr.table__tr
          td.table__td Item 4
          td.table__td Vitae integer tempus condimentum.
          td.table__td 19.99
        tr.table__tr
          td.table__td Item 5
          td.table__td Ante turpis integer aliquet porttitor.
          td.table__td 29.99
      tfoot.table__foot
        tr.table__tr
          td.table__td(colspan="2")
          td.table__td 129.95