.hero {
  box-sizing: border-box;
  // min-height: 100vh;
  max-height: 740px;
  background-color: $accent;
  color: $main;
  padding: 5rem 0 1rem;

  @include bp($md) {
    padding: 3.5rem 0;
    height: 100vh;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}