section.elements__actions
  h3.elements__actions-title Actions

  ul.elements__actions-list._inline
    li.elements__actions-item
      button.btn._primary Default

    li.elements__actions-item
      button.btn Default

  ul.elements__actions-list._inline
    li.elements__actions-item
      button.btn._primary._small small

    li.elements__actions-item
      button.btn._small small

  ul.elements__actions-list
    li.elements__actions-item
      button.btn._primary Default

    li.elements__actions-item
      button.btn Default

  ul.elements__actions-list
    li.elements__actions-item
      button.btn._primary._small small

    li.elements__actions-item
      button.btn._small small
      
  ul.elements__actions-list
    li.elements__actions-item
      button.btn._primary._fit Default

    li.elements__actions-item
      button.btn._fit Default

  ul.elements__actions-list
    li.elements__actions-item
      button.btn._primary._fit._small small

    li.elements__actions-item
      button.btn._fit._small small