section.elements__buttons
  h3.elements__buttons-title Actions

  ul.elements__buttons-list._inline
    li.elements__buttons-item
      button.primary Default
    li.elements__buttons-item
      button Default

  ul.elements__buttons-list._inline
    li.elements__buttons-item
      button.primary.small small
    li.elements__buttons-item
      button.small small

  ul.elements__buttons-list
    li.elements__buttons-item
      button.primary Default
    li.elements__buttons-item
      button Default

  ul.elements__buttons-list
    li.elements__buttons-item
      button.primary.small small
    li.elements__buttons-item
      button.small small
      
  ul.elements__buttons-list
    li.elements__buttons-item
      button.primary.fit Default
    li.elements__buttons-item
      button.fit Default

  ul.elements__buttons-list
    li.elements__buttons-item
      button.primary.fit.small small
    li.elements__buttons-item
      button.fit.small small