section.elements__buttons
  h3.elements__buttons-title Actions

  ul.elements__buttons-list._inline
    li.elements__buttons-item
      button.btn._primary Default

    li.elements__buttons-item
      button.btn Default

  ul.elements__buttons-list._inline
    li.elements__buttons-item
      button.btn._primary._small small

    li.elements__buttons-item
      button.btn._small small

  ul.elements__buttons-list
    li.elements__buttons-item
      button.btn._primary Default

    li.elements__buttons-item
      button.btn Default

  ul.elements__buttons-list
    li.elements__buttons-item
      button.btn._primary._small small

    li.elements__buttons-item
      button.btn._small small
      
  ul.elements__buttons-list
    li.elements__buttons-item
      button.btn._primary._fit Default

    li.elements__buttons-item
      button.btn._fit Default

  ul.elements__buttons-list
    li.elements__buttons-item
      button.btn._primary._fit._small small

    li.elements__buttons-item
      button.btn._fit._small small