section.elements__definition
  h4.elements__definition-title Definition

  dl.definition
    dt.definition__title Item 1
    dd.definition__text.
      Lorem ipsum dolor vestibulum ante ipsum primis 
      in faucibus vestibulum. Blandit adipiscing eu felis 
      iaculis volutpat ac adipiscing accumsan eu faucibus. 
      Integer ac pellentesque praesent. Lorem ipsum dolor.
    
    dt.definition__title Item 2
    dd.definition__text.
      Lorem ipsum dolor vestibulum ante ipsum primis 
      in faucibus vestibulum. Blandit adipiscing eu felis 
      iaculis volutpat ac adipiscing accumsan eu faucibus. 
      Integer ac pellentesque praesent. Lorem ipsum dolor.
    
    dt.definition__title Item 3
    dd.definition__text.
      Lorem ipsum dolor vestibulum ante ipsum primis 
      in faucibus vestibulum. Blandit adipiscing eu felis 
      iaculis volutpat ac adipiscing accumsan eu faucibus. 
      Integer ac pellentesque praesent. Lorem ipsum dolor.