main.elements
  .elements__wrap
    include __typography
    include __lists
    include __definition
    include __actions
    include __pagination
    include __blockquote
    include __table

  .elements__wrap
    include __buttons
    include __form
    include __image

    h3 Box

    .box.
      Felis sagittis eget tempus primis in faucibus vestibulum. 
      Blandit adipiscing eu felis iaculis volutpat ac adipiscing 
      accumsan eu faucibus. Integer ac pellentesque praesent 
      tincidunt felis sagittis eget. tempus euismod. Magna sed 
      etiam ante ipsum primis in faucibus vestibulum. Blandit 
      adipiscing eu ipsum primis in faucibus vestibulum. Blandit 
      adipiscing eu felis iaculis volutpat ac adipiscing accumsan 
      eu faucibus lorem ipsum.

    h3 Preformatted

    pre
      code.
        i = 0;

        while (!deck.isInOrder()) {
            print 'Iteration ' + i;
            deck.shuffle();
            i++;
        }

        print 'It took ' + i + ' iterations to sort the deck.';
