main.elements
  .elements__wrap
    include __typography
    include __lists
    include __definition
    include __actions
    include __pagination
    include __blockquote
    include __table

  .elements__wrap
    include __buttons
    include __form

    h3 Image

    h4 Fit

    img.fit(src="img/pic03.jpg", alt="")

    .box.alt.grid.gap.gap-r
      img.c-4(src="img/pic08.jpg", alt="")
      img.c-4(src="img/pic09.jpg", alt="")
      img.c-4(src="img/pic10.jpg", alt="")
      img.c-4(src="img/pic08.jpg", alt="")
      img.c-4(src="img/pic09.jpg", alt="")
      img.c-4(src="img/pic10.jpg", alt="")
      img.c-4(src="img/pic08.jpg", alt="")
      img.c-4(src="img/pic09.jpg", alt="")
      img.c-4(src="img/pic10.jpg", alt="")

    h4 Left &amp; Right

    p
      img.left(src="img/pic09.jpg", alt="")
      .
        Lorem ipsum dolor sit accumsan interdum nisi, 
        quis tincidunt felis sagittis eget. tempus euismod. 
        Vestibulum ante ipsum primis in faucibus vestibulum. 
        Blandit adipiscing eu felis iaculis volutpat ac adipiscing 
        accumsan eu faucibus. Integer ac pellentesque praesent 
        tincidunt felis sagittis eget. tempus euismod. Vestibulum 
        ante ipsum primis sagittis eget. tempus euismod. Vestibulum 
        ante ipsum primis in faucibus vestibulum. Blandit 
        adipiscing eu felis iaculis volutpat ac adipiscing 
        accumsan eu faucibus. Integer ac pellentesque praesent 
        tincidunt felis sagittis eget tempus vestibulum ante ipsum 
        primis in faucibus magna blandit adipiscing eu felis iaculis.

    p
      img.right(src="img/pic09.jpg", alt="")
      .
        Lorem ipsum dolor sit accumsan interdum nisi, 
        quis tincidunt felis sagittis eget. tempus euismod. 
        Vestibulum ante ipsum primis in faucibus vestibulum. 
        Blandit adipiscing eu felis iaculis volutpat ac adipiscing 
        accumsan eu faucibus. Integer ac pellentesque praesent 
        tincidunt felis sagittis eget. tempus euismod. Vestibulum 
        ante ipsum primis sagittis eget. tempus euismod. Vestibulum 
        ante ipsum primis in faucibus vestibulum. Blandit 
        adipiscing eu felis iaculis volutpat ac adipiscing 
        accumsan eu faucibus. Integer ac pellentesque praesent 
        tincidunt felis sagittis eget tempus vestibulum ante ipsum 
        primis in faucibus magna blandit adipiscing eu felis iaculis.

    h3 Box

    .box.
      Felis sagittis eget tempus primis in faucibus vestibulum. 
      Blandit adipiscing eu felis iaculis volutpat ac adipiscing 
      accumsan eu faucibus. Integer ac pellentesque praesent 
      tincidunt felis sagittis eget. tempus euismod. Magna sed 
      etiam ante ipsum primis in faucibus vestibulum. Blandit 
      adipiscing eu ipsum primis in faucibus vestibulum. Blandit 
      adipiscing eu felis iaculis volutpat ac adipiscing accumsan 
      eu faucibus lorem ipsum.

    h3 Preformatted

    pre
      code.
        i = 0;

        while (!deck.isInOrder()) {
            print 'Iteration ' + i;
            deck.shuffle();
            i++;
        }

        print 'It took ' + i + ' iterations to sort the deck.';
