body {
  margin: 0;
  background-color: $bg;
  color: $main;
  line-height: 1.25;
  font-family: Arial, Helvetica, sans-serif;

  @include bp($lg) {
    font-size: 1.2em;
  }
}

.hidden {
  @include hidden();
}

.output {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, calc(33.33% - 1rem)) );
  grid-gap: 1.5rem;
  grid-auto-flow: dense;

  ol {
    display: block;
  }
}