// breakpoints
$xs: 320px;
$sm: 480px;
$xsm: 640px;
$md: 736px;
$lg: 960px;
$xl: 1200px;
$xxl: 1600px;

// pallete
$bg: #456;
$main: rgb(255, 255, 255);
$danger: rgb(235, 113, 113);

$dur: .4s;