$color: ('main': #fff, 'secondary': #242943, third: #2a2f4a, 'highlight': #80ecfd)
$font: "Source Sans Pro", Helvetica, sans-serif

*
  box-sizing: border-box
  margin-top: 0

body
  margin: 0
  padding: 0
  background-color: map-get($color, 'secondary')

a
  color: inherit
  text-decoration: none

hr
  border: 0
  border-bottom: solid 1px rgba(map-get($color, 'main'), .1)
  margin: 2em 0

  &.major
    margin: 3em 0

.hover
  color: map-get($color, 'highlight')
  cursor: pointer

.transition
  transition: .4s

// Components
@import 'components/buttons'
@import 'components/form'
@import 'components/lists'
@import 'components/pagination'
@import 'components/tables'
@import 'components/typography'

// Layout
@import 'layout/footer'
@import 'layout/form'
@import 'layout/grid'
@import 'layout/header-nav'
@import 'layout/nav-overlay'

