// $color: ('main': #fff, 'secondary': #242943, third: #2a2f4a, 'highlight': #80ecfd)
// $font: "Source Sans Pro", Helvetica, sans-serif


// Base
@import base/vars.scss
@import base/reset

*
  box-sizing: border-box
  margin-top: 0

body
  background-color: map-get($palette, 'bg')

.hover
  transition: .4s

  &:hover
    color: map-get($palette, 'highlight')
    cursor: pointer

// Components
@import components/buttons
@import components/box
@import components/form
@import components/image
@import components/links
@import components/lists
@import components/tables
@import components/typography

// Layout
@import layout/footer
@import layout/form
@import layout/grid
@import layout/header-nav
@import layout/nav-overlay
