.actions
  margin: 0 0 map-get($size, 'element-margin') 0
  padding: 0
  list-style-type: none

  &._inline
    .actions__item
      display: inline-block
      margin: 0 (map-get($size, 'element-margin') / 2) 0 0

  &__item
    margin: 0 0 (map-get($size, 'element-margin') / 2) 0
    border: none
