article.offers
  .inner
    section.tours
      h2.tours__title Туры на любой вкус
      h3.tours__subtitle Цены указаны на 1 чел. / номер DBL / вылет из Киева

      ul.tours__list
        li.tours__item
          img.tours__img(src="img/hotel-3-star.jpeg", alt="hotel 3 star")
          h4.tours__item-title
            b
              |Отели 3*
              br
              span.tours__price от 1 293 $
          button.btn.tours__btn Подобрать тур!
        
        li.tours__item
          img.tours__img(src="img/hotel-4-star.jpeg", alt="hotel 4 star")
          h4.tours__item-title
            b
              |Отели 4*
              br
              span.tours__price от 1 903 $
          button.btn.tours__btn Подобрать тур!
        
        li.tours__item
          img.tours__img(src="img/hotel-5-star.jpeg", alt="hotel 5 star")
          h4.tours__item-title
            b
              |Отели 5*
              br
              span.tours__price от 2 291 $
          button.btn.tours__btn Подобрать тур!

    section.popular
      h2.popular__title Популярные отели у наших туристов
      h3.popular__subtitle Цены указаны на 1 чел. / номер DBL / вылет из Киева

      .popular__wrap
        p.popular__title._accent Отели 4*

        ul.popular__list
          li.popular__item
            img.popular__img(src="img/hotel-1.jpeg", alt="Ellaidhoo Maldives by Cinnamon")
            h4.popular__item-title._accent Ellaidhoo Maldives by Cinnamon
            p.popular__item-description.
              Отель находится на красивейшем тропическом острове 
              Северного Ари Атолла, среди бескрайних лазурных лагун. 
              Прекрасный риф и чистейшая вода не оставит равнодушным 
              любителей дайвинга и снорклинга. Остров подходит для 
              романтического отдыха или отдыха большой компанией. 
              Время в пути на скоростном катере - 90 минут, 
              на гидросамолете - 25 минут.

            ul.popular__prices
              li.popular__prices-item ВВ — <b>от 2269$</b>
              li.popular__prices-item НВ — <b>от 2461 $</b> 
              li.popular__prices-item FB — <b>от 2547 $</b>
              li.popular__prices-item AI — <b>от 2763 $</b>
            button.btn.popular__btn Подобрать тур!

          li.popular__item
            img.popular__img(src="img/hotel-2.jpeg", alt="Cinnamon Dhonveli Maldives")
            h4.popular__item-title._accent Cinnamon Dhonveli Maldives
            p.popular__item-description.
              Романтическая атмосфера, разнообразная кухня и великолепный 
              сервис! Один из пляжей острова известен во всем мире: 
              The Pasta Point – идеальное место для любителей серфинга. 
              Для любителей дайвинга – великолепный подводный мир рифов. 
              В 20 минутах езды на скоростном трансферном катере от 
              международного аэропорта Мале.

            ul.popular__prices
              li.popular__prices-item ВВ — <b>от 2305 $</b> 
              li.popular__prices-item НВ — <b>от 2501 $</b>
              li.popular__prices-item FB — <b>от 2587 $</b>
              li.popular__prices-item AI — <b>от 2801 $</b>
            button.btn.popular__btn Подобрать тур!

          li.popular__item
            img.popular__img(src="img/hotel-3.jpeg", alt="Reethi Beach Resort")
            h4.popular__item-title._accent Reethi Beach Resort
            p.popular__item-description
              .
                Тропический остров-отель Reethi Beach Resort — это ожившая 
                сказка, осуществившаяся мечта детства о далеких необитаемых 
                островах. Небольшие изящные виллы расположены прямо у воды.
              br 
              .
                Барьеры коралловых рифов, круто уходящие в глубину — 
                идеальное место для изучения подводного мира.Трансфер на 
                гидросамолёте (35 минут) или 20 минут на самолёте 
                внутренних авиалиний.

            ul.popular__prices
              li.popular__prices-item ВВ — <b>от 2637 $</b>
              li.popular__prices-item НВ — <b>от 3075 $</b>
              li.popular__prices-item FB — <b>от 3335 $</b>
              li.popular__prices-item AI — <b>от 3816 $</b>
            button.btn.popular__btn Подобрать тур!

      .popular__wrap._margin
        p.popular__title._accent._margin Отели 5*

        ul.popular__list
          li.popular__item
            img.popular__img(src="img/hotel-4.jpeg", alt="Kurumba Maldives")
            h4.popular__item-title._accent Kurumba Maldives
            p.popular__item-description.
              Отель с шикарным домашним рифом, расположенным очень близко 
              к пляжу. Большое количество ресторанов с кухнями 
              со всего Мира. Одна из лучших дискотек на Мальдивских 
              островах. Активная вечерняя программа и большой выбор 
              досуга. Подойдёт для любого типа туриста. 
              8 ресторанов и 3 бара.Трансфер 10 мин езды на скоростном 
              комфортабельном катере.

            ul.popular__prices._accent
              li.popular__prices-item ВВ — <b>от 2619 $</b>
              li.popular__prices-item НВ — <b>от 2619 $</b>
              li.popular__prices-item FB — <b>от 2883 $</b>
              li.popular__prices-item AI — <b>от 3149 $</b>
            button.btn.popular__btn Подобрать тур!

          li.popular__item
            img.popular__img(src="img/hotel-5.jpeg", alt="Dhigali Maldives")
            h4.popular__item-title._accent Dhigali Maldives
            p.popular__item-description.
              Восхитительный отель расположившийся на уединенном острове 
              Dhigali. Гурманов порадуют пять превосходных ресторанов с 
              международной, мальдивской, индийской, тайской, 
              вьетнамской и индонезийской кухни. Великолепный SPA-центр. 
              Трансфер на гидросамолете 40 мин или 35 минут на самолете 
              внутренних авиалиний + 35 минут на скоростном катере до отеля.
            
            ul.popular__prices._accent
              li.popular__prices-item ВВ — <b>от 3183 $</b>
              li.popular__prices-item НВ — <b>от 3183 $</b>
              li.popular__prices-item FB — <b>от 3487 $</b>
              li.popular__prices-item AI — <b>от 3949 $</b>
            button.btn.popular__btn Подобрать тур!

          li.popular__item
            img.popular__img(src="img/hotel-6.jpeg", alt="Sun Island Resort & Spa")
            h4.popular__item-title._accent Sun Island Resort &amp; Spa
            p.popular__item-description.
              Один из самых популярных отелей который расположен 
              на одном из самых больших островах на Мальдивах. 
              Огромный выбор развлекательных программ, очень богатая 
              инфраструктура острова, есть возможность взять велосипеды 
              на прокат.Отличный дайвинг центр с русско-язычным персоналом. 
              Прекрасный СПА центр.Трансфер внутренними авиалиниями 
              от международного аэропорта 20 минут + 10 минут 
              скоростной катер.

            ul.popular__prices._accent
              li.popular__prices-item ВВ — <b>от 2851 $</b>
              li.popular__prices-item НВ — <b>от 3789 $</b>
              li.popular__prices-item FB — <b>от 4463 $</b>
              li.popular__prices-item AI — <b>от 5161 $</b>
            button.btn.popular__btn Подобрать тур!


      .popular__wrap
        p.popular__title._accent Отели 5* <span class="uppercase">deluxe</span>

        ul.popular__list
          li.popular__item
            img.popular__img(src="img/hotel-7.jpeg", alt="Taj Exotica & Spa")
            h4.popular__item-title._accent Taj Exotica &amp; Spa
            p.popular__item-description.
              Один из самых популярных отелей-курортов класса «люкс». 
              Этот уединенный романтичный курорт занимает небольшой остров 
              Эмбуду Финолу, лежащий в самом сердце одной из самых больших 
              лагун Мальдивских островов. Остров, который раньше был 
              известен под названием «Остров трех кокосов», окружен 
              прозрачными водами лагуны и покрыт буйной тропической 
              растительностью. К услугам гостей 2 ресторана, бар, 
              фитнес-центр. Отель рекомендован для романтического отдыха.

            ul.popular__prices._accent
              li.popular__prices-item ВВ — <b>от 5729 $</b>
              li.popular__prices-item НВ — <b>от 6585 $</b>
              li.popular__prices-item FB — <b>от 7229 $</b>
            button.btn.popular__btn Подобрать тур!

          li.popular__item
            img.popular__img(src="img/hotel-8.jpeg", alt="Four Seasons Kudaa Huraa")
            h4.popular__item-title._accent Four Seasons Kudaa Huraa
            p.popular__item-description.
              Отель располагает СПА Центром Island Spa который включает 
              сауну, парную, джакузи, души Vichy, а также 7 процедурных 
              павильонов, предлагающих широкий спектр услуг. Открытый 
              бассейн с пресной водой, Оздоровительный Центр с тренажерным 
              залом и павильоном для занятий йогой, центр водного спорта, 
              дайвинг-центр PADI, для маленьких гостей работает детский 
              клуб Kids For All Seasons, 4 ресторана и 2 бара, винный 
              погреб. Трансфер — 25 минут на скоростном катере.

            ul.popular__prices._accent
              li.popular__prices-item ВВ — <b>от 7705 $</b>
              li.popular__prices-item НВ — <b>от 9290 $</b>
              li.popular__prices-item FB — <b>от 9817 $</b>
            button.btn.popular__btn Подобрать тур!

          li.popular__item
            img.popular__img(src="img/hotel-9.jpeg", alt="Niyama Private Islands Maldives 5*")
            h4.popular__item-title._accent Niyama Private Islands Maldives 5*
            p.popular__item-description.
              Название Niyama в переводе с местного наречия означает 
              «спокойное путешествие». Отель действительно идеально 
              подходит для полной релаксации. Шикарные виллы, оснащенные 
              по последнему слову техники, утопают в пышных садах и 
              выходят к лазурной лагуне с белоснежным пляжем. 
              В отеле есть уникальная подводная Дискотека, 
              круглосуточный СПА центр а также бар в открытом 
              океане на расстоянии 500м от отеля.

            ul.popular__prices._accent
              li.popular__prices-item ВВ — <b>от 5761 $</b>
              li.popular__prices-item НВ — <b>от 5761 $</b>
              li.popular__prices-item FB — <b>от 6827 $</b>
            button.btn.popular__btn Подобрать тур!
