.nav
  display: flex
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  opacity: 0
  z-index: -1

  align-items: center
  flex-direction: column
  justify-content: center

  background-color: rgba(map-get($palette, 'bg'),.955)
  text-transform: uppercase
  transition-delay: z-index 0 opacity .2s
  transition-duration: .4s
  overflow: auto

  @supports (filter: blur())
    background-color: rgba(map-get($palette, 'bg'),.9)

  &._show
    z-index: 10
    opacity: 1
    // animation: show-menu .6s forwards

  // &._hide
  //   display: flex
  //   animation: hide-menu .6s forwards

  @keyframes show-menu
    from
      opacity: 0
      z-index: -1
    to
      opacity: 1
      z-index: 10

  @keyframes hide-menu
    from
      opacity: 1
      z-index: 10
    to
      opacity: 0
      z-index: -1

  &__btn
    padding: 1em
    position: absolute
    top: 0
    right: 0

    @extend .hover

  &__btn-icon
    width: 2em
    height: 2em

  &__list
    width: 18em
    text-align: center
    letter-spacing: map-get($font, 'letter-spacing-alt')

  &__list-item

  &__link
    display: block
    color: inherit
    font-weight: map-get($font, 'weight-bold')
    font-size: .8em
    line-height: 3em
    text-decoration: none
    @extend .hover

    &._active
      color: map-get($palette, 'highlight')

#wrapper
  transition: .2s
  &._on
    filter: blur(.25em)