.nav-overlay
  .nav-overlay-icon
    svg#button-menu-close
      use(xlink:href="img/sprites/spite.svg#times")
  nav
    ul.alt
      li
        a(href="index.html") home
      li
        a(href="landing.html") landing
      li
        a(href="generic.html") generic
      li
        a.active elements

    ul.actions
      li
        button.primary.fit get started
      li
        button.fit log in
