footer.inner
  ul.actions.line
    li
      a.icon.alt.fab.fa-twitter
    li
      a.icon.alt.fab.fa-facebook-f
    li
      a.icon.alt.fab.fa-instagram
    li
      a.icon.alt.fab.fa-github
    li
      a.icon.alt.fab.fa-linkedin-in

  ul.copyright
    li © Untitled

    li
      | Design: 
      a.link(href="https://html5up.net") HTML5 UP

    li
      | Demo Images: 
      a.link(href="https://unsplash.com/") Unsplash
