a
  color: inherit
  text-decoration: none
  @extend .hover

  &.active
    color: map-get($palette, 'highlight')

    &:hover
      cursor: default

  &.link
    border-bottom: dotted 1px
  
  &.icon
    border-radius: 50%

  &.alt
    background-color: map-get($palette, 'fg')
    color: map-get($palette, 'bg')
    height: 2em
    width: 2em
    line-height: 2em
    text-align: center

    &:hover
      background-color: map-get($palette, 'highlight')
      color: map-get($palette, 'bg')