.tiles
  a
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    pointer-events: none

  .banner
    &:hover::before
      opacity: 0

    &:nth-child(1)
      background-image: url(../img/pic01.jpg)

      &::before
        background-color: map-get($palette, 'accent1')
        
    &:nth-child(2)
      background-image: url(../img/pic02.jpg)

      &::before
        background-color: map-get($palette, 'accent2')
        
    &:nth-child(3)
      background-image: url(../img/pic03.jpg)

      &::before
        background-color: map-get($palette, 'accent3')
        
    &:nth-child(4)
      background-image: url(../img/pic04.jpg)

      &::before
        background-color: map-get($palette, 'accent4')
        
    &:nth-child(5)
      background-image: url(../img/pic05.jpg)

      &::before
        background-color: map-get($palette, 'accent5')
        
    &:nth-child(6)
      background-image: url(../img/pic06.jpg)

      &::before
        background-color: map-get($palette, 'accent6')