<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(
      rel='stylesheet'
      href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'
      integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ'
      crossorigin='anonymous'
      )
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic")
    link(rel="stylesheet" href="css/index.css")
    
    title Elements
  body

    .grid#elements
      .nav-overlay
        .nav-overlay-icon
          i.fas.fa-times.fa-2x
        nav
          ul.links
            li
              a(href="index.html") home
            li
              a(href="landing.html") landing
            li
              a(href="generic.html") generic
            li
              a elements
          
          ul.buttons
            li
              a.button.primary.fit get started
            li
              a.button.fit log in

      header.header-main
        a.logo(href="index.html")
          strong forty
          |by html5 up
        nav
          a#button-menu menu

      .container
        header
          h1 Elements
        
        h2 sample content
        p.
          Praesent ac adipiscing ullamcorper semper ut amet ac risus. 
          Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor 
          erat risus justo adipiscing adipiscing amet placerat accumsan. 
          Vis. Faucibus odio magna tempus adipiscing a non. In mi primis 
          arcu ut non accumsan vivamus ac blandit adipiscing adipiscing 
          arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida 
          adipiscing eget accumsan ac nunc adipiscing adipiscing.
        
        section.text
          section.text-block.half
            h3 Sem turpis amet semper
            p.
              Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida 
              odio porttitor sem non mi integer non faucibus ornare mi ut ante 
              amet placerat aliquet. Volutpat commodo eu sed ante lacinia. 
              Sapien a lorem in integer ornare praesent commodo adipiscing 
              arcu in massa commodo lorem accumsan at odio massa ac ac. 
              Semper adipiscing varius montes viverra nibh in adipiscing 
              blandit tempus accumsan.

          section.text-block.half
            h3 Magna odio tempus commodo
            p.
              In arcu accumsan arcu adipiscing accumsan orci ac. 
              Felis id enim aliquet. Accumsan ac integer lobortis commodo 
              ornare aliquet accumsan erat tempus amet porttitor. Ante commodo 
              blandit adipiscing integer semper orci eget. Faucibus commodo 
              adipiscing mi eu nullam accumsan morbi arcu ornare odio mi 
              adipiscing nascetur lacus ac interdum morbi accumsan vis mi 
              accumsan ac praesent.

          section.text-block.third
            h3 Interdum sapien gravida
            p.
              Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida 
              odio porttitor sem non mi integer non faucibus ornare mi ut ante 
              amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem 
              accumsan varius montes viverra nibh in adipiscing blandit 
              tempus accumsan

          section.text-block.third
            h3 Faucibus consequat lorem
            p.
              Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida 
              odio porttitor sem non mi integer non faucibus ornare mi ut ante 
              amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem 
              accumsan varius montes viverra nibh in adipiscing blandit 
              tempus accumsan

          section.text-block.third
            h3 Accumsan montes viverra
            p.
              Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida 
              odio porttitor sem non mi integer non faucibus ornare mi ut ante 
              amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem 
              accumsan varius montes viverra nibh in adipiscing blandit 
              tempus accumsan

        hr.major

        h2 elements

        section.elements
          .half
            h3 Text

            p
              |This is 
              b bold
              |  and this is 
              strong strong
              |. This is 
              i italic
              |  and this is 
              em emphasized
              |. This is 
              sup superscript
              |  text and this is 
              sub subscript
              |  text. This is 
              u underlined
              |  and this is code: 
              code for (;;) { ... }
              |. Finally, this is a 
              a.link link

            hr

            h2 heading level 2
            h3 heading level 3
            h4 heading level 4

            hr

            p.
              Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida 
              odio porttitor sem non mi integer non faucibus ornare mi ut ante 
              amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem 
              accumsan varius montes viverra nibh in adipiscing blandit tempus 
              accumsan.

            h3 lists

            section.lists
              .half
                h4 Unordered

                ul
                  li Dolor etiam magna etiam.
                  li Sagittis lorem eleifend.
                  li Felis dolore viverra.

                ul.alt
                  li Dolor etiam magna etiam.
                  li Sagittis lorem eleifend.
                  li Felis feugiat viverra.
                  
              .half
                h4 Ordered

                ol
                  li Dolor etiam magna etiam.
                  li Etiam vel lorem sed viverra.
                  li Felis dolore viverra.
                  li Dolor etiam magna etiam.
                  li Etiam vel lorem sed viverra.
                  li Felis dolore viverra.

                h4 Icons

                ul.actions.line
                  li
                    a.fab.fa-twitter
                  li
                    a.fab.fa-facebook-f
                  li
                    a.fab.fa-instagram
                  li
                    a.fab.fa-github
                  li
                    a.fab.fa-dribbble
                  li
                    a.fab.fa-tumblr

                ul.actions.line
                  li
                    a.icon.alt.fab.fa-twitter.
                  li
                    a.icon.alt.fab.fa-facebook-f
                  li
                    a.icon.alt.fab.fa-instagram

            h4 Definition

            dl
              dt Item 1
              dd
                p.
                  Lorem ipsum dolor vestibulum ante ipsum primis 
                  in faucibus vestibulum. Blandit adipiscing eu felis 
                  iaculis volutpat ac adipiscing accumsan eu faucibus. 
                  Integer ac pellentesque praesent. Lorem ipsum dolor.
              dt Item 2
              dd
                p.
                  Lorem ipsum dolor vestibulum ante ipsum primis 
                  in faucibus vestibulum. Blandit adipiscing eu felis 
                  iaculis volutpat ac adipiscing accumsan eu faucibus. 
                  Integer ac pellentesque praesent. Lorem ipsum dolor.
              dt Item 3
              dd
                p.
                  Lorem ipsum dolor vestibulum ante ipsum primis 
                  in faucibus vestibulum. Blandit adipiscing eu felis 
                  iaculis volutpat ac adipiscing accumsan eu faucibus. 
                  Integer ac pellentesque praesent. Lorem ipsum dolor.
          .half
            section.buttons
              h3.fill Buttons
              
              ul.actions.line.fill
                li
                  a.button.primary Primary
                li
                  a.button Default

              ul.actions.half
                li
                  a.button.large large
                li
                  a.button Default
                li
                  a.button.small small
              ul.actions.half
                li
                  a.button.large.primary large
                li
                  a.button.primary Primary
                li
                  a.button.primary.small small

              ul.actions.half
                li
                  a.button.primary.fit fit
                li
                  a.button.primary.fit.small fit + small
                  
              ul.actions.half
                li
                  a.button.fit fit
                li
                  a.button.fit.small fit + small

              ul.actions.line.fill
                li
                  a.button.primary.icon.fas.fa-search icon
                li
                  a.button.icon.fas.fa-download icon

              ul.actions.line.fill
                li
                  a.button.primary.disabled primary
                li
                  a.button.disabled default



        .span(style="height: 600px")

