<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(
      rel='stylesheet'
      href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'
      integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ'
      crossorigin='anonymous'
      )
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")
    link(rel="stylesheet" href="css/index.css")
    
    title Elements
  body
    .nav-overlay
      .nav-overlay-icon
        i.fas.fa-times.fa-2x
      nav
        ul.links
          li
            a(href="index.html") home
          li
            a(href="landing.html") landing
          li
            a(href="generic.html") generic
          li
            a elements
        
        ul.buttons
          li
            a.button.primary.fit get started
          li
            a.button.fit log in

    header
      a.logo(href="index.html")
        strong forty
        |by html5 up
      nav
        a#button-menu menu

    .container
      h1 Elements
      
      h2 sample content
      p.
        Praesent ac adipiscing ullamcorper semper ut amet ac risus. 
        Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor 
        erat risus justo adipiscing adipiscing amet placerat accumsan. 
        Vis. Faucibus odio magna tempus adipiscing a non. In mi primis 
        arcu ut non accumsan vivamus ac blandit adipiscing adipiscing 
        arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida 
        adipiscing eget accumsan ac nunc adipiscing adipiscing.

      section.content
      
        section
          h3 Sem turpis amet semper
          p.
            Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida 
            odio porttitor sem non mi integer non faucibus ornare mi ut ante 
            amet placerat aliquet. Volutpat commodo eu sed ante lacinia. 
            Sapien a lorem in integer ornare praesent commodo adipiscing 
            arcu in massa commodo lorem accumsan at odio massa ac ac. 
            Semper adipiscing varius montes viverra nibh in adipiscing 
            blandit tempus accumsan.

        section
          h3 Magna odio tempus commodo
          p.
            In arcu accumsan arcu adipiscing accumsan orci ac. 
            Felis id enim aliquet. Accumsan ac integer lobortis commodo 
            ornare aliquet accumsan erat tempus amet porttitor. Ante commodo 
            blandit adipiscing integer semper orci eget. Faucibus commodo 
            adipiscing mi eu nullam accumsan morbi arcu ornare odio mi 
            adipiscing nascetur lacus ac interdum morbi accumsan vis mi 
            accumsan ac praesent.
