<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(
      rel='stylesheet'
      href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'
      integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ'
      crossorigin='anonymous'
      )
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic")
    link(rel="stylesheet" href="css/index.css")
    
    title Elements
  body
    .nav-overlay
      .nav-overlay-icon
        i#button-menu-close.fas.fa-times.fa-2x
      nav
        ul.alt
          li
            a(href="index.html") home
          li
            a(href="landing.html") landing
          li
            a.active generic
          li
            a(href="elements.html") elements
    
        ul.actions
          li
            a.button.primary.fit get started
          li
            a.button.fit log in

    header.header-bar.fixed
      a.logo(href="index.html")
        strong forty
        span  by html5 up
      nav
        a#button-menu menu

    #wrapper
      .inner.main
        header
          h1.major.unfit Generic

        p
          img(src="img/pic11.jpg", alt="")

        p.
          Donec eget ex magna. Interdum et malesuada fames ac ante ipsum 
          primis in faucibus. Pellentesque venenatis dolor imperdiet dolor 
          mattis sagittis. Praesent rutrum sem diam, vitae egestas enim 
          auctor sit amet. Pellentesque leo mauris, consectetur id ipsum 
          sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada 
          et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar 
          mauris. Curabitur sapien risus, commodo eget turpis at, elementum 
          convallis elit. Pellentesque enim turpis, hendrerit.

        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad 
          litora torquent per conubia nostra, per inceptos himenaeos. 
          Etiam tristique libero eu nibh porttitor fermentum. Nullam 
          venenatis erat id vehicula viverra. Nunc ultrices eros ut 
          ultricies condimentum. Mauris risus lacus, blandit sit amet 
          venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla 
          in aliquam at, euismod in lectus. Pellentesque habitant morbi 
          tristique senectus et netus et malesuada fames ac turpis egestas. 
          In non lorem sit amet elit placerat maximus. Pellentesque aliquam 
          maximus risus, vel sed vehicula.
          
        p.
          nterdum et malesuada fames ac ante ipsum primis in faucibus. 
          Pellentesque venenatis dolor imperdiet dolor mattis sagittis. 
          Praesent rutrum sem diam, vitae egestas enim auctor sit amet. 
          Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien 
          risus, commodo eget turpis at, elementum convallis elit. Pellentesque 
          enim turpis, hendrerit tristique lorem ipsum dolor.

      include components/_contact.pug

      include components/_footer.pug

    script(src="js/index.js")