.progress {
  display: block;
  width: 4rem;
  background-color: $main;

  &__value {
    background-color: $accent;
    height: 2px;
    width: 0;
    transition: 0;

    &._loading {
      transition: $SLIDE_DURATION linear;
      width: 100%;
    }
  }
}