ul.socials
  li.socials__item
    a.socials__link._facebook(href="#")
  li.socials__item
    a.socials__link._twitter(href="#")
  li.socials__item
    a.socials__link._telegram(href="#")
  li.socials__item
    a.socials__link_.pinterest(href="#")