.device {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  // margin-right: 1rem;
  padding: 2.8rem .8rem 2.65rem;
  height: 100%;
  width: 100%;
  max-width: 315px;

  background-color: $alt;
  border-radius: 1.45rem;
  box-shadow: 0 1rem 1.5rem -1rem $main;

  // for controls
  position: relative;

  @include bp($lg) {
    margin-right: 2.55rem;
  }
  
  // .device
  &__screen {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: $main;
  }

  // .device
  &__controls {
    position: absolute;
    right: -2px;
    top: 15%;
  }
  
  // .device
  &__controls-btn {
    width: 2px;
    height: 36px;
    margin-bottom: 5px;

    background-color: $alt;
  }

  // .device
  &__logo {
    // pixel-perfect
    margin-bottom: 2rem !important;
    margin-right: 5px;

    pointer-events: none;
  }
}