<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles/index.css")
    title Bogdan Saliuk
  body
    h1 Portfolio

    ul
      li
        a.link(href="templates/Barbershop/index.html") Barbershop
      li
        a.link(href="templates/Tinyone/index.html") Tinyone
      li
        a.link(href="templates/Travelplus/index.html") Travelplus