<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles/index.css")
    title Document
  body
    h1 It's alive!!!

    ul
      li
        a.link(href="templates/Tinyone/index-1.html") Tinyone 1
      li
        a.link(href="templates/Tinyone/index-2.html") Tinyone 2
      li
        a.link(href="templates/Travelplus/index.html") Travelplus
      li
        a.link(href="templates/Barbershop/index.html") Barbershop