doctype html
html(lang='en')
  head

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans")
    link(rel='stylesheet', href='css/index.css')

    title Bogdan Salyuk

  body

    .container
    
      nav
        ul
          li
            a(href="index.html") home
          li
            a.active my work

     
      main.work
        .template        
          ='\n'
          a(class="template-link" href="templates/forty/index.html")
            ='\n'
            img(src="img/templates/forty.jpg", alt="template")

            .template-link-layout
              h3 Forty
              i.far.fa-eye.fa-3x
          ='\n'
          a(
            class="template-link-github"
            href="https://github.com/Eternal-Rise/html5up_forty"
            title="View source code"
            )
            i.fab.fa-github.fa-lg

      footer
        ='\n'
        a(href="https://github.com/Eternal-Rise")
          i.fab.fa-github.fa-2x
        ='\n'
        a(href='https://t.me/Eternal_Rise')
          i.fab.fa-telegram-plane.fa-2x
        ='\n'
        a(href="tel:+380663378649") +380663378649
        ='\n'
        a(href="mailto:my_dawn@ukr.net") my_dawn@ukr.net