button.info ?

.info-popup
  btn.info-popup__hide(aria-label="hide info popup")

  .info-popup__container
    ul
      li ctrl + [ - decrease nesting
      li ctrl + ] - increase nesting
      li Aslo you can do it by swiping left and right
      li All data that you save will keeping in your local storage