section.features
  .inner
    h3.features__title В стоимость включено:
    ul.features__list
      li.features__item
        img.features__img(src="img/airfly.png", alt="airfly")
        h4.features__subtitle Авиаперелёт
      li.features__item
        img.features__img(src="img/transfer.png", alt="transfer")
        h4.features__subtitle Трансфер
      li.features__item
        img.features__img(src="img/food.png", alt="food")
        h4.features__subtitle Выбранное питание
      li.features__item
        img.features__img(src="img/insurance.png", alt="insurance")
        h4.features__subtitle Страховка